# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Python virtual environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Node.js
node_modules/
npm-debug.log
yarn-error.log
yarn.lock
package-lock.json

# Frontend build directory
frontend/build

# IDE / Editor specific
.idea/
.vscode/
*.swp
*.swo

# Docker
docker-compose.override.yml

# Other
.DS_Store